@charset "UTF-8";
/* CSS Document */


html * {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: Gotham, Helvetica Neue, Helvetica, Arial," sans-serif";
}

header {
	padding: 30px;
}

img {
	width: 100%;
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}

footer {
	padding: 20px 30px;
	background-color: #000000;
}

body {
	margin-left: 0px;
	margin-right: 0px;
	background: #000000;
}

/* qi ta */

.col {
	width: 100%;
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
}


.row:before, .row:after {
	content: "";
	display: table;

}

.row:after {
	clear: both;
}

.colmd-one-three {
	padding: 30px;
	max-width: 1200px;
}

.colmd-one-three-se {
	max-width: 1200px;
}


.fk1 {
	width: auto;
	height: 2px;
	background: #FFFFFF;
	margin: 30px 30px 0px 30px;
}

.fk2 {
	width: auto;
	height: 2px;
	background-color: #000000;
	margin: 0px 0px 30px 0px;
}

.fk3 {
	width: auto;
	height: 2px;
	background-color: #000000;
	margin: 30px 30px 0px 30px;
}


/* nei rong */

.header {
	width: 100%;
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

.style-logo {
	float: left;
	width:200px;
	}

.style-nav {
	list-style-type: none;
	float: right;
	text-align: right;
}

.style-nav ul li a {
	text-decoration:underline;
	color: #FFFFFF;
	text-transform: none;
	font-size: 20px;
}
.style-nav ul li{
	padding: 0px 0px 10px 0px;
}

h1 {
	font-size: 70px;
	text-transform: none;
	font-weight: bold;
	margin-bottom: 20px;
	color: #FFFFFF;
	padding-right: 30px;
}

h2 {
	font-size: 30px;
	text-transform: none;
	font-weight: bold;
	margin-bottom: 20px;
	color: #FFFFFF;
	padding-right: 30px;
}

h3 {
	font-size: 30px;
	text-transform: none;
	font-weight: bold;
	margin-bottom: 30px;
	color: #FFFFFF;
	padding-left: 30px;
}

h4 {
	font-size: 20px;
	text-transform: none;
	font-weight: normal;
	margin-bottom: 0px;
	color: #FFFFFF;
	padding: 30px 30px 0px 30px;
}

h5 {
	font-size: 26px;
	text-transform: none;
	font-weight:bold;
	padding-left: 30px;
}

h6 {
	font-size: 20px;
	text-transform: none;
	font-weight: normal;
}

h7 {
	font-size: 25px;
	text-transform: none;
	font-weight: bold;
	margin: 30px 0px;
}

.hello {
	text-align: right;
}

.about {
	color:#FFFFFF;
}

.artwork01{
	padding: 60px 0px 0px 0px;
	width: 100%;
}



.col-work-experience {
	background-color: #FFFFFF;
	padding: 60px 0px;
}

.work2 {
	max-width: 1200px;
}

w1 {
	font-size: 16px;
}

w2 {
	font-size: 16px;
}

br {
	padding: 30px;
}

.others {
	background-color: #DADADA;
	padding: 60px 0px ;
}

.languages2 {
padding: 30px;
}

.skills2 {
padding: 30px;
}

.education2 {
padding: 30px;
}

/* footer */

f1 {
	float: right;
	text-align: right;
}

f2 {
	text-align: left;
	left: 0px;
	position: relative;
 	bottom: -160px
}

.logo2 {
	max-width: 150px;
}

.qrcode {
	max-width: 160px;
	margin-bottom: 60px;
	float: right;
}

.footer1 {
	padding-top: 30px;
	color: #FFFFFF;
}

.footer2 {
	color: #FFFFFF;
}



/* 不同尺寸 */

/*Phone View*/
@media (max-width: 767px){
	
	.style-nav ul li {
		display: none;
	}

.style-nav {
	list-style-type: none;
	float: right;
	text-align: right;
}
	
	.colmd-one-three {
		width: 100%;
		float: none;
		margin-left: auto;
		margin-right: auto;
	}
	
	.colmd-one-three-se {
		width: 100%;
		float: none;
		margin-left: auto;
		margin-right: auto;
}
	
	h4 {
		width: 100%;
		float: none;
		margin-left: auto;
		margin-right: auto;
	}
}


/*Tablet View*/
@media (min-width: 768px){
	
	.style-nav ul li {
		display: inline-block;
	}
	
	.colmd-one-three {
		width: 33.333333%;
		float: left;
		margin-left: auto;
		margin-right: auto;
	}
	
	.colmd-one-three-se {
		width: 33.333333%;
		float: left;
		margin-left: auto;
		margin-right: auto;
}
	
	h4 {
		width: 50%;
		float: left;
		margin-left: auto;
		margin-right: auto;
	}
}

/*Desktop View*/
@media (min-width: 1024px){
	.header {
		padding: 0px 30px;
	}
}

